body {
    background-image: url(road.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    margin: 0;
}

.form {
    display: none;
}
